body {
    background-image: url('https://i.redd.it/z8rmqihs77391.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
  }

 
#banner {
    display:block;
    margin: 0 auto;
    max-width: 100%;
    
    
    
}
  
  h1 {
    margin-top: 50px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d78e26;
    color: white;
    border:rgba(76, 175, 80, 0.8)
    cursor: pointer;
    border-radius: 5px;
    
   
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  
  #description {
    font-size: 18px;
    background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent green */
    border: none;
    padding: 10px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 5px;
  }
  
  p {
    max-width: 600px;
    margin: 0 auto;
  }

  #peopleInfo {
    background-color: rgba(76, 175, 80, 0.8); /* Semi-transparent green */
    border: none;
    padding: 10px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 5px;
  }
  
  #peopleInfo ul {
    list-style: none;
    padding: 0;
  }
  
  #peopleInfo li {
    font-size: 16px;
    margin: 10px 0;
    color: white;
  }
  
  #peopleInfo strong {
    font-weight: bold;
    color: red; /* Make the names red */
  }
  
  #peopleInfo li span {
    display: block;
    margin-top: 5px;
  }

  /* Media queries for responsiveness */

/* Adjust the banner images for smaller screens */

  
  /* Adjust the peopleInfo container for smaller screens */
  @media (max-width: 600px) {
    #peopleInfo {
      max-width: 90%;
    }
  }

  @media (max-width: 768px) {
    font-size: 16px;
    padding: 8px 15px;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    padding: 6px 12px;
  }

  #playMusicBtn {
    position: absolute;
  top: 8px;
  left: 16px;
  }

  #currentDate {
    background-color: rgba(3, 169, 244, 0.8); /* Semi-transparent blue */
    color: white;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    max-width: 200px;
  }
